font{
    color:#000000;
    font-family:Goudy Stout;
    font-size:20pt;
    text-align:center;
    }
        
    table,td{
    border:5ch solid rgb(26, 4, 4);
    border-collapse:collapse;
    background-color:#ffffff;
    }
    
    table,th{
    border:5px solid rgb(14, 103, 175);
    border-collapse:collapse;
    background-color:#1f9ac0;
    }